<h3>{{title}}</h3>
<hr>
<div class="row">
  <div class="btn-block">
      <button class="btn new-round-btn">{{#link-to 'new-round'}}<a href="" style="color: white;">New Round</a>{{/link-to}}</button>
  </div> 
</div>

<div class="container">
  <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">{{currentYear}}</a></li>
      {{#each months as |month|}}
          <li><a data-toggle="tab" href="#{{month}}">{{month}}</a></li>
      {{/each}}
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active" style="margin-top: 50px;">
      {{year-stats model=model}}
    </div>
    {{#each months as |month|}}
      <div id="{{month}}" class="tab-pane fade">
          {{card-overview model=model month=month}}
      </div>
    {{/each}}
  </div>
</div>

