<h3>{{title}}</h3>
<hr>
<div class="row">
      <div class="btn-block">
         <button class="btn new-round-btn">{{#link-to 'new-round'}}<a href="" style="color: white;">New Round</a>{{/link-to}}</button>
    </div> 
</div>

<div class="container">
  <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">About</a></li>
      {{#each months as |month|}}
          <li><a data-toggle="tab" href="#{{month}}">{{month}}</a></li>
      {{/each}}
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active" style="margin-top: 50px;">
      {{lorem-ipsum}}
    </div>
    {{#each months as |month|}}
      <div id="{{month}}" class="tab-pane fade">
          {{#each model as |round|}}
            {{#if (ismonthlyround month round)}}
              {{card-overview round=round}}
            {{/if}}
          {{/each}}
      </div>
    {{/each}}
  </div>
</div>

